<h3>These are all the artists currently in your playister:</h3>

<% @artists.each do |artist| %>
  <li><a href="/artists/<%= artist.slug %>"> <%= artist.name %></a></li>
<% end %>

<% @genres.each do |genre| %>
  <li><a href="/genres/<%= genre.slug %>"> <%= genre.name %></a></li>
<% end %>